#extends("page/layout/mainDesHome.vm")
#block("content")
	<!-- 内容 -->
    <div class="mainHome-des-content">
    	<div class="wraper1200 wraper1000">
    		<div class="info-form">
    			<div class="steps">
    				<ul class="">
    					<li>1.填写纠纷信息</li>
    					<li>2.录制调解请求</li>
    					<li>3.选择调解员</li>
    					<li class="on"><span></span>4.完成调解申请</li>
    				</ul>
    			</div>
	    		<div class="transcribe-area transcribe-area-nopadd">
	    			<div class="apply-success-area">
	    				<div class="apply-success-icon"></div>
	    				<div class="success-tip">申请成功！</div>
	    				<p>您的调解申请已通知<em>$!mediator.name</em>调解员！</p>
	    				<p>关注调解进展，请下载和合智解手机客户端，随时随地跟进案件</p>
	    				<a class="confirm-btn" href="/">确认</a>
	    				<div class="tips-step">
	    					<a class="down" href="/download">下载中心</a>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </div>

#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/enterMediation/applyComplete.vm")
#end