#extends("page/layout/mainDesHome.vm")
#block("content")
	<!-- 内容 -->
    <div class="mainHome-des-content bg-white">
   		<div class="dispute-bg">
   			<div class="wraper1200">
   				<div class="dispute-bg-b"></div>
   			</div>
   		</div>
    	<div class="wraper1200">
			<div class="type-state">
				<span class="name"></span>
				<span class="dispute-tit dispute-tit-mar">请选择</span>
			</div>
			<div class="type-state">
				<span class="name"><em>*</em>纠纷类型：</span>
				<select class="wid598" id="_type">
				    <option value="">请选择</option>
					<option value="1301">道交事故</option>
					<option value="1001">婚姻家庭</option>
					<option value="1202">民间借贷</option>
					<option value="1401">劳动争议</option>
					<option value="1205">物业服务合同</option>
					<option value="1999">其他民事</option>
				</select>
			</div>
			<div class="type-state">
				<span class="name"><em>*</em>纠纷发生地：</span>
				<select class="wid598" id="_area">
					<option value="">请选择</option>
				</select>
			</div>
			<div class="btn-center">
				<a class="start-analysis" href="javascript:;" id="_ask">咨询</a>
			</div>
    	</div>
    </div>

#end
#script()
    require(['page/mediateConsult/chooseType'], function(chooseType) {
        new chooseType();
    });
#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/mediateConsult/chooseType.vm")
#end