#extends("page/layout/mainDesHome.vm")
#block("content")
	<!-- 内容 -->
    <div class="mainHome-des-content">
    	<div class="wraper1200">
			<div class="location">当前位置：<span class="col333">调解智库<i></i>调解员详情</span></div>
			<div class="content-padd102 content-padd-b50">
				<div class="mediator-head">
					<span><img src="$!mediator.picture"></span>
				</div>
				<p class="tit-name">$!mediator.name</p>
				<p class="score">综合评分</p>
				<p class="score-num">
					<span data-score="$!mediator.score"></span>
					<i>$!mediator.score</i>
				</p>
				<div class="mediate-num">
					<div class="total">
						<span class="total-name">累计调解</span>
						<span class="num"><em>$!mediator.mediatedCount</em>件</span>
					</div>
					<span class="line"></span>
					<div class="total">
						<span class="total-name">正在调解</span>
						<span class="num"><em>$!mediator.mediatingCount</em>件</span>
					</div>
					<span class="line"></span>
					<div class="total">
						<span class="total-name">已结案</span>
						<span class="num"><em>$!mediator.endMediated</em>件</span>
					</div>
				</div>
				<div class="des-details">
					<div class="half50">
						<div class="state">
							<span class="name">擅长领域：</span>
							<span class="text">
							    #set($scopeNames = "")
								#if($!mediator.scopeList && $!mediator.scopeList.size() > 0)
									#foreach($data in $!mediator.scopeList)
										#if($velocityCount == 1)
											#set($scopeNames = $scopeNames + $!data)
										#else
											#set($scopeNames = $scopeNames + "," + $!data)
										#end
									#end
								#else
								   #set($scopeNames = "暂无")
								#end
								$scopeNames
							</span>
						</div>
						<div class="state">
							<span class="name">所属地区：</span>
							<span class="text">#if($!area) $!area #else 暂无 #end</span>
						</div>
						<div class="state">
							<span class="name">年龄：</span>
							<span class="text">#if($!mediator.age) $!{mediator.age}年 #else 暂无 #end</span>
						</div>
						<div class="state">
							<span class="name">学历：</span>
							<span class="text">#if($!mediator.gradeStr) $!mediator.gradeStr #else 暂无 #end</span>
						</div>
					</div>
					<div class="half50" style="padding-left: 100px;">
						<div class="state">
							<span class="name">身份：</span>
							<span class="text">#if($!mediator.identityStr) $mediator.identityStr #else 暂无 #end</span>
						</div>
						<div class="state">
							<span class="name">职业：</span>
							<span class="text">#if($!mediator.job) $!mediator.job #else 暂无 #end</span>
						</div>
						<div class="state">
							<span class="name">从业年限：</span>
							<span class="text">#if($!mediator.lengthOfService) $!{mediator.lengthOfService}年 #else 暂无 #end</span>
						</div>
						<div class="state">
							<span class="name">所属组织：</span>
							<span class="text">#if($!mediator.orgName) $!mediator.orgName #else 暂无 #end</span>
						</div>
					</div>
					<div class="info-intro">
						<span>个人简介：</span>
						<div class="intro-text">#if($!mediator.profile && $!mediator.profile != "") $!mediator.profile #else 暂无 #end</div>
					</div>
				</div>
			</div>
    	</div>
    </div>

#end
#script()
    require(['page/mediationTank/mediatorDetail'], function(mediatorDetail) {
        new mediatorDetail();
    });
#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/mediationTank/mediatorDetail.vm")
#end