#extends("page/layout/mainDesHome.vm")
#block("content")
	<!-- 内容 -->
    <div class="mainHome-des-content">
   		<div class="dispute-bg">
   			<div class="wraper1200">
   				<div class="dispute-bg-m"></div>
   			</div>
   		</div>
    </div>
    <div class="mainHome-des-content bg-white">
    	<div class="choose-nav">
	    	<div class="wraper1200">
	    		<span class="nav">
	    			<a href="/mediator/list">调解员</a>
	    			<a class="on" href="javascript:;">调解组织</a>
	    		</span>
				<div class="type-search fr">
					<input class="search-input" type="text" name="" placeholder="输入调解组织" id="_keyword">
					<a class="search-btn" href="javascript:;" id="_search">搜索</a>
					<i class="search-icon"></i>
				</div>
	    	</div>
    	</div>
    	<div class="wraper1200">
			<div class="condition-two">
                <input type ="hidden" id="_orgTypeVal" value="$!orgType">
                <input type ="hidden" id="_goodVal" value="$!keyword">
                <input type ="hidden" id="_areaVal" value="$!areaCode">
				<span class="name">类型：</span>
				<div class="type" id="_orgType">
                    <a #if($!orgType == "" || !$!orgType) class="on" #end data-code="" href="javascript:;">全部</a>
                    <a #if($!orgType == "JGLX_001") class="on" #end data-code="JGLX_001" href="javascript:;">人民调解</a>
                    <a #if($!orgType == "JGLX_002") class="on" #end data-code="JGLX_002" href="javascript:;">行政调解</a>
                    <a #if($!orgType == "JGLX_003") class="on" #end data-code="JGLX_003" href="javascript:;">行业调解</a>
                    <a #if($!orgType == "JGLX_004") class="on" #end data-code="JGLX_004" href="javascript:;">商事调解</a>
                    <a #if($!orgType == "JGLX_005") class="on" #end data-code="JGLX_005" href="javascript:;">其他调解</a>
				</div>
			</div>
			<div class="place-area">
				<div class="btn" id="_chooseCity" data-flag="0">
					<i class="place-icon"></i><span>地区：</span>
					<a href="javascript:;">#if($!areaCode == "510100") 全市 #else $!areaName #end<i class="arrow-down"></i></a>
				</div>
				<div class="choose-city" style="display:none;">
					<h3>地区</h3>
					<ul class="ul-city clearfix" id="_city">
						<li><a #if($!areaCode == "510100") class="on" #end data-code="" href="javascript:;">全市</a></li>
					</ul>
				</div>
			</div>
    	</div>
    </div>
    <div class="mainHome-des-content">
   		<div class="wraper1200">
   			<div class="altogether-num">$!{paging.totalCount}条数据</div>
    		<!-- 选择调解组织 -->
    		<div class="transcribe-org-area">
    			<div class="org-area">
				    #foreach($data in $!paging.list)
					<a href="/organ/$!data.id">
						<div class="org-bor">
							<div class="title">$!data.orgTypeName</div>
							<div class="head">
								<img src="$!data.picture">
							</div>
							<h1>$!data.name</h1>
							<div class="des"><i class="tel"></i>联系电话：$!data.telephone</div>
							<div class="des"><i class="place"></i>联系地址：#if($!data.address) $!data.address #else 暂无 #end</div>
						</div>
					</a>
					#end
    			</div>
				<!-- 分页 -->
				#if($!paging.list && $!paging.list.size() > 0)
					<div class="pages">
						<input type="hidden" value="$!paging.totalPage" id="totalPage"/>
						<input type="hidden" value="$!paging.pageNumber" id="pageNumber"/>
					</div>
				#else
					<div class="no-data">暂无数据</div>
				#end
    		</div>
   		</div>
    </div>


#end
#script()
    require(['page/mediationTank/orgTank'], function(orgTank) {
        new orgTank();
    });
#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/mediationTank/orgTank.vm")
#end