#extends("page/layout/mainDesHome.vm")
#block("content")
	<!-- 头部 --><!-- 
    <div class="mainHome-des-header">
    	<div class="wraper1200">
			<div class="logo"></div>
			<div class="fr">
				<div class="nav-des">
					<ul class="">
						<li><a class="on" href="javascript:;">首页</a></li>
						<li><a href="javascript:;">解纷指引</a></li>
						<li><a href="javascript:;">走进调解</a></li>
						<li><a href="javascript:;">调解智库</a></li>
						<li><a href="javascript:;">调解咨询</a></li>
						<li><a href="javascript:;">下载中心</a></li>
					</ul>
				</div>
			</div>
    	</div>
    </div> -->
	<!-- 内容 -->
    <div class="mainHome-des-content">
    	<div class="wraper1200">
			<div class="location">当前位置：<span class="col333">首页<i></i>典型案例</span></div>
			<div class="content-padd102">
				<h1>$!detail.title</h1>
				<div class="des">
					<span class="name">调解员：$!detail.mediatorName</span>
					<span class="time">历时：$!{detail.duration}天
						<span>辖区法院：$!detail.courtName</span>
						<span class="">$!date.format("yyyy-MM-dd HH:mm", $!detail.createTime)</span>
					</span>
				</div>
				<div class="tit-bg">#if($!detail.summary)$!detail.summary#else 暂无 #end</div>
				<p class="text-p">
					#if($!detail.content)$!detail.content#else 暂无 #end				
				</p>
			</div>
    	</div>
    </div>

#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/home/indexHomeCase.vm")
#end