<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"/> 
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
username：<input id = "username"/>
password:<input id = "password"/>
<button id = "submit" onclick="submit()">submit</button>
<a href = "/login/select">select</a>

<script type="text/javascript">
function submit(){
	var name = document.getElementById("username").value;
	var password = document.getElementById("password").value;
	location.href="/login/test?name="+name+"&amp;password="+password;
}
</script>
</body>
</html>