## 首页布局
#extends("page/layout/frame.vm")

#block("body")
	#block("header")
		#widget("page/header/header.vm")
	#end

	#block("content")#end

	#block("footer")
		#widget("page/footer/footer.vm")
	#end
#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/layout/main.vm")
#end
