## 首页布局
#extends("page/layout/frame.vm")

#block("body")
	#block("header")
		#widget("page/header/header.vm")
	#end

	#block("content")
	#end

#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/layout/mainHome.vm")
#end
