#extends("page/layout/mainDesHome.vm")
#block("content")
    <div class="mainHome-des-content">
    	<div class="wraper1200 mar-30">
			<div class="content-padd102">
                <div class="ms-detail">
                    <h1>调解指引</h1>
                    <h4 id="one">（一）什么是调解？</h4>
                    <p>当事人发生纠纷，在符合调解条件的情况下可以申请调解。调解分为诉前调解和诉讼调解。</p>
                    <p>诉前调解即是指在案件进入诉讼程序之前，对相对简单的案件征得当事人同意后，由人民调解组织调解或由人民法院委托社会人士，以调解的形式化解矛盾纠纷的一种形式。
                    </p>
                    <p>
                        诉讼调解是指在人民法院审判人员的主持下，双方当事人就民事权益争议自愿、平等地进行协商，以达成协议，解决纠纷的活动。诉讼调解既是人民法院在审理民事案件过程中，贯彻调解原则所进行的一项诉讼活动，又是人民法院行使审判权，解决民商事纠纷，结束诉讼程序的一种方式。
                    </p>
                    <h4 id="two">（二）哪些案件的民事诉讼必须经过调解？</h4>
                    <p>
                        调解作为一种解决纠纷的有效机制，贯穿在诉讼的整个过程，从诉前，到诉中，甚至是执行的时候。但是调解毕竟要在双方当事人的合意之下才可以完成，也即调解应该是建立在双方当事人自行启动的情况下。但是有一些案件则是法院主动启动调解过程，而且为法律规定所必须。主要有两类诉讼。
                    </p>
                    <p>第一类、离婚案件。</p>
                    <p>第二类、在特定情况下人民法院适用简易程序审理的案件。特定情形指的是： 婚姻家庭纠纷和继承纠纷；劳务合同纠纷；交通事故和工伤事故引起的权利义务关系较为明确的损害赔偿纠纷；宅基地和相邻关系纠纷；合伙协议纠纷；诉讼标的额较小的纠纷。</p>
                    <h4 id="three">（三）人们可以到哪些地方进行人民调解？</h4>
                    <p>当事人选择人民调解的，可以到所在地区的村民委员会、居民委员会的人民调解委员会、乡镇街道调解委员会或者区人民调解中心进行调解，也可以选择在人民法院的人民调解工作室进行调解。</p>
                    <p>1、区人民调解委员会，主要调处跨区域、跨行业和重大矛盾纠纷；</p>
                    <p>2、乡镇街道调解委员会和行业性、专业性调解委员会；</p>
                    <p>3、对于交通事故损害赔偿纠纷，可以委托公安交管部门以及交通巡回法庭进行诉前化解；</p>
                    <p>4、对于农村土地承包纠纷，可以委托人民调解组织、调处中心、农信土地承包仲裁机构、无利害关系的有关农村土地承包主管部门或农村基层组织诉前化解；</p>
                    <p>5、对于婚姻家庭纠纷，可以委托妇联组织诉前化解；</p>
                    <p>6、对于消费者权益纠纷，可以委托消费者协会（委员会）平台进行诉前化解；</p>
                    <p>7、对于医患纠纷，可以委托医患纠纷人民调解委员会或（市、区）人民调解委员会驻人民法院人民调解工作室进行诉前化解；</p>
                    <p>8、对于环境污染损害赔偿纠纷，可以委托环境保护部门或相关特邀调解员进行诉前调解；</p>
                    <p>9、对于劳动争议纠纷，可以委托工会组织或相关特邀调解员进行诉前调解；</p>
                    <p>10、社区调解，即村民委员会、居民委员会的人民调解委员会调解。社区调解是由纠纷当事人所在社区调解室进行的调解。</p>
                </div>
			</div>
    	</div>
    </div>

#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/help/guideDis.vm")
#end